include ./../mixins/ie

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    +ie('if IE')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
      if title
        != title
        |  • 
      | /* @echo datas.title */
    if description
      meta(name='description', content='#{description}')
    else
      meta(name='description', content='/* @echo datas.description */')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')

    //- styles
    block styles
      link(rel='stylesheet', href='/css//* @echo app.style */?/* @echo app.time */')

    //- cards and favicons
    include ./../partials/facebook-cards
    include ./../partials/twitter-cards
    include ./../partials/html5-cards
    include ./../partials/favicons
  
  body(class='#{id}')
    .block.before-content
      include ./../blocks/header

    main
      block content

    .block.after-content
      include ./../blocks/footer

    //- scripts
    block scripts
      script(src='/js//* @echo app.script */?/* @echo app.time */')
