input, textarea {
  display: inline-block;
  width: 46%;
  border: none;
  border-bottom: 1px solid $blue;
  color: $white;
  font-style: italic;
  background-color: rgba(0,0,0,0);
  margin: 20px 0px;
  float: left;
}

input[type="email"] {
  margin-left: 8%;
}


input[type="submit"] {
 float: none;}

textarea, .large {
  width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $white;
}
:-moz-placeholder { /* Firefox 18- */
  color: $white;
}
