extends ./../layouts/layout

block content
    section#test
        .wrapper
            a.button Commander
            h1.subtitle C'est la solution pour combattre le gaspillage alimentaire avec tes voisins pour alliés !
    section.bg-blue
        .wrapper
            video
    section
        .wrapper
            h2.title Tes armes seront les suivantes=
            div
                img
                a.button Télécharger
            div
                h3.subtitle L'application Pain Perdu
                p |Indépendante et gratuite, disponible sur toutes les plateformes de téléchargement
            div
                h3.subtitle Le kit Pain Perdu
                p |Composé d'un objet connecté qui te facilitera la tâche, d'un lot de 20 magnets, symbolisant les aliments que tu gaspilles fréquemment.
                p |Il contient également une lunch box, pour faciliter le transport des produits ou plats échangés.
                a.button Commander
    section.bg-blue
        .wrapper
            .animate.to-the-left
                ul
                    li génération de
                    li de
                    li consultation
                    li gestion des
                    li don
                ul
                    li recettes
                    li de trucs & astuces
                    li de profils utilisateurs
                    li alliances
                    li d'un produit
        .animate.to-the-right
            h2Les fonctionnalités
            ul
                li création de son
                li son
                li son
            ul
                li profil utilisateur
                li garde-manger
                li clan
    section
        .wrapper
            h2 Nos compagnons de combats
            .partenaire-item
                img
                h4 Mairie d'Annecy
            .partenaire-item
                img
                h4 Mairie d'Annecy
            .partenaire-item
                img
                h4 Mairie d'Annecy
            .partenaire-item
                img
                h4 Mairie d'Annecy
            .border-blue.quote
                h3 Avec Pain Perdu, l'oignon fait la force !
                p Hayate, membre de DISCOSOUP
    section.bg-red
        .wrapper
            ul#contact-infos
                li Mail hello@painperdu.com
                li Tel (+33)649382048
                li Blog blog.painperdu.io
            form
                input(type="text", placeholder="Nom")
                input(type="email", placeholder="Email")
                textarea(placeholder="Message")
                input.button(type="submit", value="Envoyer")
            #social-networks
                a.facebook: i Facebook
                a.facebook: i Facebook
                a.facebook: i Facebook
