extends ./../layouts/layout

block content
    section#section-a-propos
        .wrapper
            a.button Commander
            h1.subtitle.subtitle-red C'est la solution pour combattre le gaspillage alimentaire avec tes voisins pour alliés !
    section#section-video.bg-video
        .wrapper
            video
    section#section-kit
        .wrapper
            h2.title Tes armes seront les suivantes
            div
                img
                a.button Télécharger
            div
                h3.subtitle.subtitle-red L'application Pain Perdu
                p |Indépendante et gratuite, disponible sur toutes les plateformes de téléchargement
            div
                h3.subtitle.subtitle-red Le kit Pain Perdu
                p |Composé d'un objet connecté qui te facilitera la tâche, d'un lot de 20 magnets, symbolisant les aliments que tu gaspilles fréquemment.
                p |Il contient également une lunch box, pour faciliter le transport des produits ou plats échangés.
                a.button Commander
    section#section-fonctionnalites.bg-blue
        .wrapper
            .animate.to-the-left
                ul
                    li génération de
                    li de
                    li consultation
                    li gestion des
                    li don
                ul
                    li recettes
                    li de trucs & astuces
                    li de profils utilisateurs
                    li alliances
                    li d'un produit
            .animate.to-the-right
                h2Les fonctionnalités
                ul
                    li création de son
                    li son
                    li son
                ul
                    li profil utilisateur
                    li garde-manger
                    li clan
    section#section-partenaires
        .wrapper
            h2.subtitle.subtitle-red Nos compagnons de combats
            .partenaire-item
                img
                h4.txt-uppercase Mairie d'Annecy
            .partenaire-item
                img
                h4.txt-uppercase Airnodes
            .partenaire-item
                img
                h4.txt-uppercase Discosoup
            .partenaire-item
                img
                h4.txt-uppercase We are Phenix
            .border-blue.quote
                h3.subtitle.subtitle-blue Avec Pain Perdu, l'oignon fait la force !
                p Hayate, membre de DISCOSOUP
    section#section-contact.bg-red
        .wrapper
            header
              h2.contact-title.txt-uppercase Contact
              ul#contact-infos
                  li
                    span.txt-uppercase Mail
                    span.txt-italic hello@painperdu.com
                  li
                    span.txt-uppercase Tel
                    span.txt-italic (+33)649382048
                  li  
                    span.txt-uppercase Blog
                    span.txt-italic blog.painperdu.io
            form#contact-form
                input(type="text", placeholder="Nom")
                input(type="email", placeholder="Email")
                input.large(type="text", placeholder="Message")
                input.button(type="submit", value="Envoyer")
            footer
              #social-networks
                  a: i.facebook Facebook
                  a: i.twitter Twitter
                  a: i.instagram Instagram
