header
  navigation
    ul(id="menu")
          li: a(href="#") A propos
          li: a(href="#") Démonstration
          li: a(href="#") Objectifs
          li: a(href="#") Fonctionnalités
          li: a(href="#") Partenaires
          li: a(href="#") Contact
