header
  navigation
    ul(id="menu")
          li: a(href="#") A propos
          li: a(href="#") Lien 2
          li: a(href="#") Lien 3
          li: a(href="#") Lien 4
          li: a(href="#") Lien 5
          li: a(href="#") Lien 6
