header
  navigation
    ul(id="menu")
          li: a(href="#section-a-propos") A propos
          li: a(href="#section-video") Démonstration
          li: a(href="#section-kit") Objectifs
          li: a(href="#section-fonctionnalites") Fonctionnalités
          li: a(href="#section-partenaires") Partenaires
          li: a(href="#section-contact") Contact
